header{
    
    
    #carouselExampleCaptions{
        nav{
            
            .nav-item{

                border-top: white 3px solid;
                border-bottom: white 2px solid;

                .nav-link:hover{
                    background-color: #C12D3F;
                    border-radius: 0%;
                }

            }
        }
    }
}