.section1{
    
    .our-story{
        font-family: "courgette";
    }
    .our{
        font-family: "courgette";
        color:#B32A3A;
        font-size: 50px;
    }

    .menu-liste{
        .row{
            .col-2{
                .list-group{
                    a{
                        font-family: "courgette";
                        background-color: #fff;
                        border:none;
                        border-right: 2px solid;
                        border-bottom: 2px solid;
                        border-color: gray;
                        i{
                            color: gray;
                        }
                        i:hover{
                            color:#C12D3F;
                            
                        }
                    }
                    a:hover{
                        
                        border-right: 4px solid #C12D3F;
                    }
                }
            }
        }
    }
}

.chef{
    background-image: url("../../../public/img/team_background.jpg");
    height: 100vh;
    .chef-liste{
        h2{
            font-family: "courgette";
            color:white;
            .meet{
                color: #C12D3F;
                font-size:50px;
            }
            .chef-text{
                color:white;
            }
        }
        .chef-photo{
            .chef1{
                p{
                    font-family: "Ubuntu";
                }
            }
        }

    }

}


.section3{

    
    
        .our-story{
            font-family: "courgette";
        }
        .our{
            font-family: "courgette";
            color: #B32A3A;
            font-size: 50px;
        }

        .formulaire{
            background-image: url("../../../public/img/book_table_bg.jpg");
            width: 70%;
            border-radius: 10px;
            .form-row{
                .coordonees{
                    border-radius: 10px;
                    width: 75%;
                }
                .book-now{
                    background-color: #C12D3F;
                    border-radius:30px;
                }
            }
        }

        .cartes{
            width: 70%;
            .card{
                img{
                    border-radius: 15px;
                    border: 3px solid;
                    border-color: rgb(211, 211, 211);
                }
                .p-cartes{
                    width:80%;
                    background-color: #C12D3F;
                    border-radius: 10px;
                    margin-top: 50% ;
                    margin-left: 6%;
                    .date{
                        font-family: "ubuntu";
                        
                        .num{
                            font-weight: bold;
                        }
                    }
                }
            }
            
        }
    }
    .button-carte{
        background-color:#C12D3F;
        
    }


.section4{
    background-image: url("../../../public/img/testimonials_background.jpg");
    height: 59vh ;
    h3{
        font-family:"courgette";
        .client{
            font-family:"courgette";
            color: #B32A3A;
            font-size: 50px;
        }
    }
}

.section5{
    h3{
        font-family:"courgette";
        .our{
            font-family:"courgette";
            color: #B32A3A;
            font-size: 50px;
        }
    }

    .contact{
        background-color: #C12D3F;
        border-radius: 15px;
        width: 50%;

        a{
            .fas{
                font-size: 50px;
                color: white;
            }
        }
        
        hr{
            background-color: white;
        }
    }
    .dents-footer{
        position:  absolute;
        bottom:0%;
        display: flex;
    }
}