// SCSS  //

    // $METTRE-NOM-VOULU : #METTRE-LE-CODE-COULEUR; //

        // Couleur exact d'une image : https://color.adobe.com/fr/create/image-gradient //

        // palette de couleur : https://htmlcolorcodes.com/fr/selecteur-de-couleur/ //    





// BOOTSTRAP 

                // On prend la syntaxe/le Proceder (qui se trouve dans le fichier node_modules) de Bootstrap , et on créer une nouvelle valeur à celle ci //

    // Couleur Bootstrap : //

        // $theme-colors : ("METTRE-NOM-VOULU":METTRE-LE-CODE-COULEUR , "METTRE-NOM-VOULU":METTRE-LE-CODE-COULEUR , "METTRE-NOM-VOULU":METTRE-LE-CODE-COULEUR  ) ; //

    
    // Mettre une valeur pour Espacement ( margin et padding ) : //

        // $spacers : ("CHIFFRE VOULU" : 1rem*X , "CHIFFRE VOULU" : 1rem*X , "CHIFFRE VOULU" : 1rem*X  ); //        // (X=Valeurs que vous voulez donnez) //

            // 1 = 0.25rem ; 2 = 0.5rem ; 3 = 1rem ; 4 = 1.5rem ; 5 = 3rem //

            // 1rem = 16px -> Pour plus de précision https://www.jarrige.fr/pixelrem/ //
